<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://images.wikidexcdn.net/mwuploads/wikidex/4/4d/latest/20210608195447/Logo_de_Pok%C3%A9mon.svg"
        alt="Pokemon Logo"
        style="width: 100px;"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/trainers">Trainers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pokemons">Pokémons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/gyms">Gyms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/battles">Battles</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="text-center mt-3">
  <img
    src="https://images.wikidexcdn.net/mwuploads/wikidex/4/4d/latest/20210608195447/Logo_de_Pok%C3%A9mon.svg"
    alt="Pokemon Logo"
    class="logo"
    style="max-width: 200px;"
  />
</div>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>

